<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h1>
        <u> {{ title }} </u>
      </h1>
      <h4>
        <ol>
          <li>
            Create three new components: GameControl, Odd and Even.
          </li>
          <li>
            The GameControl Component should have buttons to start and stop the game.
          </li>
          <li>
            When starting the game, an event (holding a incrementing number) should get emitted each second (ref = setInterval()).
          </li>
          <li>
            The event should be listenable from outside the component.
          </li>
          <li>
            When stopping the game, no more events should get emitted (clearInterval(ref)).
          </li>
          <li>
            A new Odd component should get created for every odd number emitted, the same should happen for the Even Component (on even
            numbers).
          </li>
          <li>
            Simply output Odd - NUMBER or Even - NUMBER in the two components.
          </li>
          <li>
            Style the element (e.g. paragraph) holding your output text differently in both components.
          </li>
        </ol>
      </h4>
    </div>
    <div class="col-md-3">
      <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
    </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-game-control (allNumbersFired)="numbersFired($event)" (resetAll)="resetValues($event)">
      </app-game-control>
    </div>
  </div>
  <h4 [hidden]= "invisible"> Total Numbers fired: {{ totalNumbersFired }}</h4>
</div>
<hr>
<div class="container" [hidden]= "invisible">
  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6 text-center">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Odd Numbers</h3>
        </div>
        <div class="panel-body">
          <app-odd *ngFor="let oddNumber of oddNumbersArray" [oddNumber]="oddNumber"></app-odd>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6 text-center">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">Even Numbers</h3>
        </div>
        <div class="panel-body">
          <app-even *ngFor="let evenNumber of evenNumbersArray" [evenNumber]="evenNumber"></app-even>
        </div>
      </div>
    </div>
  </div>
</div>
